[submodule "AttendanceSystemTeacherVersion"]
	path = AttendanceSystemTeacherVersion
	url = ./AttendanceSystemTeacherVersion/
[submodule "AttendanceSystemStudentVersion"]
	path = AttendanceSystemStudentVersion
	url = ./AttendanceSystemStudentVersion
[submodule "AttendanceSystemBackend"]
	path = AttendanceSystemBackend
	url = https://github.com/arch-DJ/AttendanceSystemBackend
